<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Survey Form</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            fieldset{
                display: inline-block;
                vertical-align: top;
            }
        </style>
        
    </head>
    <body>
        <fieldset>
            <form action="/process" method="POST">
            {% csrf_token %}
            <p>Your Name: <input type="text" name="first_name"></p>
            <p>Dojo Location
                <select name="location">
                    <option value="San Jose">San Jose</option>
                    <option value="Burbank">Burbank</option>
                    <option value="Seattle">Seattle</option>
                    <option value="Los Angeles">Los Angeles</option>
                </select>
            </p>
            <p>Favorite Language
                <select name="language">
                    <option value="Python">Python</option>
                    <option value="Javascript">Javascript</option>
                    <option value="Java">Java</option>
                    <option value="HTML">HTML</option>
                </select>
            </p>
            <p>Comment (optional)</p>
                <textarea name="comment"></textarea>
            <input type="submit" value="Submit">
            </form>
        </fieldset>
</body>
</html>